@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("../assets/font/Vazir-Light-FD-WOL.woff2") format("woff2");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/font/Vazir-Medium-FD-WOL.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/font/Vazir-Bold-FD-WOL.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

* {
  font-family: "Vazir", sans-serif;
}

/* globals.css */
.flowbite-pagination {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.flowbite-pagination > * {
  margin-left: 0.5rem !important;
}